# Copia este archivo como .env y ajusta los valores
MONGO_URL=mongodb://localhost:27017/pokemon_battle
PORT=3000


VITE_CLERK_PUBLISHABLE_KEY=pk_test_bmVhdC1maWxseS0yLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_wrCYzMJgiwVTlHBsgzTYtVVfcp1LwR6uG07NsYschX
STRIPE_PUBLIC_KEY=pk_test_51TQqezR8rQLvtJOTnj7hhcqDZmOa5XfclEq5ssf3g7Ji35QaiXWeMjMNVTMX8OxRFQKLZ6VGH6fuGTxaUgRhABQC00Le0mUBwK
STRIPE_SECRET_KEY=sk_test_51TQqezR8rQLvtJOTmkqszkpGIkaieAQ8aQCXJIPWdzyiPpjcEI5ZTU7Kt4hOCsUnEuLIVPk7apt1Gyl5Zvzv4dgt00HXS2u1j4
STRIPE_WEBHOOK_SECRET=whsec_0bb38482b470edc3c35091fbc2e26c7b5cc45deb0ba8e821fb685f6d348756d4