VITE_CLERK_PUBLISHABLE_KEY=pk_test_YXBwYXJlbnQtZG9lLTc3LmNsZXJrLmFjY291bnRzLmRldiQ
VITE_API_URL=http://localhost:3003
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TQqezR8rQLvtJOTmkqszkpGIkaieAQ8aQCXJIPWdzyiPpjcEI5ZTU7Kt4hOCsUnEuLIVPk7apt1Gyl5Zvzv4dgt00HXS2u1j4