@import "tailwindcss";

@theme {
  --font-display: "Syne", sans-serif;
  --font-body: "DM Sans", sans-serif;
  
  --color-surface: #0D0D0F;
  --color-surface-elevated: #18181B;
  --color-surface-hover: #27272A;
  --color-border: #3F3F46;
  --color-text: #FAFAFA;
  --color-text-muted: #A1A1AA;
  
  --color-primary: #10B981;
  --color-primary-hover: #059669;
}